<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %>

<body>
    
    <%- include('../partials/header'); %>

    <%- include('../partials/sobre'); %>

    <%- include('../partials/mensagem'); %>

    <%- include('../partials/contato'); %>

    <%- include('../partials/footer'); %>    
    
</body>
</html>